@font-face {
  font-family: '0xA000-Mono';
  src: url('0xA000-Mono.ttf');
}
@font-face {
  font-family: 'Selectric';
  src: url('SelectricRoman.otf');
}
@font-face {
  font-family: 'Standard';
  src: url('standard-book.otf');
}
:root {
  --ratio: 1.5;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 50ch;
  font-size: calc(var(--s0) * 1.1);

  --dark-1: #1c0044;
  --dark-2: #211f8b;
  --dark-3: #272faa;
  --dark-4: #2c3ec9;
  --light-1: #ff4800;
  --light-2: #ff6615;
  --light-3: #ff862b;
  --light-4: #ffd86b;
  --light-5: #f2e1ff;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: var(--s0);
}
p,
h2,
h3,
h4,
h5,
h6,
a,
li,
pre {
  max-width: var(--measure);
}
img {
  max-width: 100%;
}
.stack {
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack > * + * {
  margin-top: var(--space);
}
marquee {
  color: var(--dark-2);
  background-color: var(--light-4);
  box-shadow: var(--light-4) -1rem 0 1.2rem;
  width: 105%;
  position: fixed;
  bottom: 0;
  padding: var(--s-3);
}
