html,
body {
  background-color: var(--dark-1);
}
body {
  margin: var(--s1) 0;
  font-family: Selectric;
}
header {
  margin: var(--s1) auto;
  align-items: center;
  text-align: center;
  color: var(--light-4);
}
h1 {
  font-family: '0xA000-Mono';
  font-size: var(--s3);
  text-shadow: var(--light-4) 0 0 var(--s-2);
}
section > a {
  display: block;
  height: 100%;
}
a > div {
  height: 100%;
}
.card {
  background-color: var(--dark-2);
  box-shadow: var(--dark-2) 0 0 var(--s0);
  max-height: 400px;
  min-width: 300px;
}
.card > h3,
.card > p {
  margin: var(--s0);
  color: var(--light-3);
}
.card > img {
  flex: 1;
  object-fit: cover;
  min-height: 0;
}
.meta {
  color: var(--light-2);
}
.grid {
  display: grid;
  gap: var(--s2);
  flex: 3;
  margin: calc(5vw - var(--s1));
}
@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
a {
  text-decoration: none;
}
main {
  display: flex;
  flex-wrap: wrap;
}
.about {
  margin: calc(5vw - var(--s1));
  min-width: 400px;
  flex: 2;
  color: var(--light-4);
}
