body {
  background-color: var(--light-5);
  color: var(--dark-2);
  font-size: 20px;
}
header {
  font-family: Selectric;
  padding: var(--s1);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header h2,
header h3 {
  width: max-content;
}
header div {
  text-shadow: var(--light-5) 0 0 var(--s-1);
  max-width: 900px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  align-items: flex-start;
}
.caption {
  background-color: transparent;
  max-width: 100%;
}
article {
  margin: var(--s3) 5vw;
  align-items: center;
  line-height: 2rem;
  font-family: Standard;
}
article > * {
  width: 100%;
}
