body {
  background-color: var(--light-5);
  color: var(--dark-2);
  font-size: 20px;
}
header {
  font-family: Selectric;
  height: 70%;
  padding: var(--s1);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: end !important;
  align-items: center;
  flex-direction: column;
}
header h2,
header h3 {
  width: max-content;
}
header div {
  text-shadow: var(--light-5) 0 0 var(--s-1);
  max-width: 900px;
}
.caption {
  background-color: transparent;
  max-width: 100%;
}
article {
  margin-top: var(--s3);
  margin-bottom: var(--s3);
  align-items: center;
  line-height: 2rem;
  font-family: Standard;
}
article > * {
  width: 100%;
}
